.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.spinner {
  display: block;
  margin: auto;
}

ion-segment-button > ion-label {
  font-size: 12px;
}

ion-card {
  height: 20vh;
}

.welcome-card ion-img {
  max-height: 20vh;
}

ion-card-header {
  margin-top: -8vh;
}

ion-card-title{
  color: #ffffff;
}