<ion-header no-border>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Sports</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card *ngFor="let activity of activities | async" class="welcome-card" (click)="onSelect(activity.id)">
          <ion-img src="{{activity.photoUrl}}"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>100+ profiles</ion-card-subtitle>
            <ion-card-title>{{activity.name}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<div class="spin" *ngIf="!activities">
  <ion-spinner></ion-spinner>
</div>