.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.spinner {
  display: block;
  margin: auto;
}

ion-card {
  height: 20vh;
}

ion-title {
  top: 1vh;
}

.welcome-card ion-img {
  max-height: 20vh;
}

ion-card-header {
  margin-top: -8vh;
}

ion-card-title{
  color: #ffffff;
}