<ion-header mode="md" no-border>
  <ion-toolbar color="main">
    <ion-title>
      Избери спорт
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row *ngIf="showSpinner">
      <ion-col>
          <ion-spinner class="spinner"></ion-spinner>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="activities">
      <ion-col>
        <ion-card *ngFor="let activity of activities" class="welcome-card" (click)="onSelect(activity.id)">
          <ion-img src="{{activity.photoUrl}}"></ion-img>
          <ion-card-header>
            <ion-card-title>{{activity.name}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>