ion-card {
  height: 20vh;
  border-radius: 15px;
}

ion-card-header {
  margin-top: -20vh;
}

ion-card-title, ion-card-subtitle{
  color: #ffffff;
}

.welcome-card ion-img {
  max-height: 20vh;
  overflow: hidden;
}

.spinner {
  display: block;
  margin: auto;
}

h1 {
  margin: 0 0 0 16px;
  font-weight: 700;
  font-size: 32px;
}