ion-card {
  height: 20vh;
  border-radius: 15px;
}

ion-card-header {
  margin-top: -20vh;
}

ion-card-title, ion-card-subtitle{
  color: #ffffff;
}

.welcome-card ion-img {
  max-height: 20vh;
  overflow: hidden;
}

.spin{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  margin: 0 0 0 16px;
  font-weight: 700;
  font-size: 32px;
}