.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.spinner {
  display: block;
  margin: auto;
}

ion-title{
  font-size: 22px;
  font-weight: 700;
}

ion-segment-button > ion-label {
  font-size: 12px;
}