<ion-header no-border>
    <ion-toolbar color="main">
        <ion-buttons>
            <ion-back-button text="" defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title *ngIf="trainer">{{trainer.activity | activityName}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content *ngIf="trainer">
    <div class="main"></div>
    <ion-grid *ngIf="trainer">
        <ion-row>
            <ion-col>
                <ion-thumbnail>
                    <img src="{{trainer.imageUrl}}">
                </ion-thumbnail>
            </ion-col>
        </ion-row>
        <br>
        <br>
        <br>
            <ion-row>
                <ion-col>
                        <h3>{{trainer.name}}</h3>
                        <p>{{trainer.activity | activityName}} Инструктор</p>
                </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>