ion-thumbnail {
    margin: 0 auto;
    height: 20vh;
    width: 20vh;
    margin-top: -12vh;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 15;
    img {
        border-radius: 8px;
    }
}

ion-row {
    text-align: center;
}

h3 {
    font-weight: 700;
    color: #2E446B !important;
}

p {
    color: #0D76FD !important;
    font-weight: 700;
    margin-top: 0px;
}

.main {
   background: -webkit-linear-gradient(left, #3e4eed 0%, #2d7fe1 40%, #19b0d6 80%, #11c9cf 100%);
   width: 100%;
   height: 15vh;
}

.trainer-description {
    text-align: left;
}

.description-item {
    font-weight: 700;
    color: #2E446B !important;
    font-size: 14px;
}

.description-value {
    font-weight: 700;
    color: #7f869b !important;
    font-size: 14px;
}

.display-rating {
    vertical-align: middle;
}