// ion-avatar {
//     margin: 0 auto;
//     height: 20vh;
//     width: 20vh;
//     margin-top: -12vh;
//     position: fixed;
//     left: 50%;
//     transform: translateX(-50%);
//     z-index: 15;
// }

// ion-row {
//     text-align: center;
// }

// ion-button {
//     width: 75%;
//     margin: 0 auto;
// }

// p {
//     margin-top: 0px;
// }

// .main {
//    width: 100%;
//    height: 15vh;
// }

// .trainer-description {
//     text-align: center;
// }

// .display-rating {
//     vertical-align: middle;
// }

ion-avatar {
    width: 10vh;
    height: 10vh;
    margin-left: 16px;
}

ion-button {
    --border-radius: 20px;
}

h2 {
    font-weight: 700;
}

h1 {
    margin: 0 0 0 16px;
    font-weight: 700;
    font-size: 32px;
  }

.heading {
    background-color: #f4f5f8;
    width: 100%;
}

ion-text p {
    margin-left: 16px;
    margin-right: 16px;
}