ion-text p {
    margin-left: 16px;
    margin-right: 16px;
}

ion-avatar {
    width: 10vh;
    height: 10vh;
    margin-left: 16px;
}

ion-button {
    --border-radius: 20px;
}

h2 {
    font-weight: 700;
}

h1 {
    margin: 0 0 0 16px;
    font-weight: 700;
    font-size: 32px;
}

.heading {
    background-color: #f4f5f8;
    width: 100%;
}