ion-avatar {
    margin: 0 auto;
    height: 20vh;
    width: 20vh;
    margin-top: -12vh;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 15;
}

ion-row {
    text-align: center;
}

ion-button {
    width: 75%;
    margin: 0 auto;
}

p {
    margin-top: 0px;
}

.main {
   width: 100%;
   height: 15vh;
}

.trainer-description {
    text-align: center;
}

.display-rating {
    vertical-align: middle;
}