ion-avatar {
    width: 10vh;
    height: 10vh;
}

h1 {
    margin: 0 0 0 16px;
    font-weight: 700;
    font-size: 32px;
  }

  .spin{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }