<ion-header no-border>
    <ion-toolbar color="main">
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref="tabs/activities"></ion-back-button>
        </ion-buttons>
        <ion-title>{{activityId | activityName}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-item lines="none" *ngFor="let trainer of trainers" (click)="onSelect(trainer.id)">
                    <ion-thumbnail slot="start">
                      <img src="{{trainer.imageUrl}}">
                    </ion-thumbnail>
                    <ion-label color="main">
                        <h3>{{trainer.name}}</h3>
                        <p>{{trainer.practicePrice}} лв / {{trainer.practiceLength}} мин</p>
                        <display-rating [rating]="trainer.rating"></display-rating>
                        <br>
                    </ion-label>
                  </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>