ion-thumbnail{ 
    width: 12vh;
    height: 12vh;
    margin-bottom: 2vh;
}

ion-label, h3 {
    font-weight: 700;
    color: #2E446B !important;
}

ion-label {
    margin-top: 0;
}

ion-thumbnail img {
    border-radius: 7px;
}

p {
    margin-bottom: 10px;
    color: #0D76FD !important;
}