<ion-header no-border>
    <ion-toolbar>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <h1>Profile</h1>
            </ion-col>
        </ion-row>
        <br>
        <ion-row>
            <ion-col>
                <ion-list *ngIf="user">
                    <ion-item>
                        <ion-avatar slot="end">
                            <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg">
                        </ion-avatar>
                        <ion-label>{{user.email}}</ion-label>
                    </ion-item>
                    <ion-item *ngIf="!existingCard" (click)="addCard()" detail>
                        <ion-label>
                            Add payment method
                        </ion-label>
                    </ion-item>
                    <ion-item *ngIf="existingCard">
                        <ion-icon slot="end" name="card"></ion-icon>
                        <ion-label>{{maskCard(existingCard?.cardNumber)}}</ion-label>
                    </ion-item>
                </ion-list>
            </ion-col>
            <br>
            <ion-col>
                <ion-list>
                    <h3>Support</h3>
                    <ion-item detail>
                        <ion-label>
                            Terms and Conditions
                        </ion-label>
                    </ion-item>
                    <ion-item detail>
                        <ion-label>
                            Privacy policy
                        </ion-label>
                    </ion-item>
                    <ion-item detail>
                        <ion-label>
                            Help and Support
                        </ion-label>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button expand="block" (click)="logout()">Log out</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>