// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.ion-color-main{
    --ion-color-base: -webkit-linear-gradient(left, #3e4eed 0%, #2d7fe1 40%, #19b0d6 80%, #11c9cf 100%);
    --ion-color-base-rgb: -webkit-linear-gradient(left, rgb(62, 78, 237) 0%, rgb(45, 127, 225) 40%, rgb(25, 176, 214) 80%, rgb(17, 201, 207) 100%);
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255,255,255;
    --ion-color-shade: #3e4eed;;
    --ion-color-tint: #2d7fe1;
  }

  * {
    font-family: 'Montserrat', sans-serif;
  }