ion-button {
    --border-radius: 20px;
    width: 90%;
    margin: 0 auto;
}

ion-col {
    text-align: center;
}

ion-label, p, .error-message {
    font-size: 14px !important;
}

.logo {
    margin-top: 12vh;
    margin-bottom: 2vh;
}

.spin{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}