h1 {
    margin: 0 0 0 16px;
    font-weight: 700;
    font-size: 32px;
}

h2 {
    font-weight: 700;
}

.offer-card ion-img {
  max-height: 30vh;
  overflow: hidden;
}

.spin{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}